.ellipse {
  --height: 320px;
  --width: 110vw;
  height: 23vw;
  width: var(--width);
  background-color: var(--bg-color);
  position: absolute;
  left: 50%;
  top: var(--top);
  transform: translate(-50%);
  border-radius: 50% / 100%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.ellipse::before {
  content: "";
  position: absolute;
  height: 264px;
  width: var(--width);
  z-index: 10;
  background-color: var(--bg-color);
  left: 50%;
  top: 97%;
  transform: translateX(-50%);
}

@media (min-width: theme("screens.desktop")) {
  .ellipse {
    height: 242px;
  }
}
