@import url('scrollbar.css');
@import url('mapir.css');

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  font-family: IRANSansX;
}

/* IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: KRD428

-------------------------------------------------------------------------------------- */

@font-face {
  font-family: 'IRANSansX';
  src: url('../assets/fonts/IRANSansX/IRANSansX-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'IRANSansX';
  src: url('../assets/fonts/IRANSansX/IRANSansX-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'IRANSansX';
  src: url('../assets/fonts/IRANSansX/IRANSansX-Bold.woff');
  font-weight: 700;
}

@font-face {
  font-family: 'IRANSansXFa';
  src: url('../assets/fonts/IRANSansX/IRANSansXFaNum-Regular.woff');
}

body {
  font-family: IRANSansX;
}
