:root {
  --scrollbar-size: 0.5ch;
}

*::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}
*::-moz-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

/* Track */
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f1f1f1;
  /* margin: 1em 0; */
}
*::-moz-scrollbar-track {
  border-radius: 5px;
  background: #f1f1f1;
  /* margin: 1em 0; */
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 5px;
}
*::-moz-scrollbar-thumb {
  background: #afafaf;
  border-radius: 5px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #afafaf;
}
*::-moz-scrollbar-thumb:hover {
  background: #afafaf;
}
